
.square {
    width: 100px;
    height: 100px;
    font-size: 80px;
    border: dotted 1px #2d6a4f;
    border-radius: 10px;
    background-color: #cbe4b7;
  
  }
  
  .square_O {
    color: #598392;
    background-color: #eff6e0;
  
  }
  
  .square_X {
    color: #40916c;
    background-color: #eff6e0;
  
  
  }
  